
      <footer class="mb-0">
        <div class="container-fluid">
           <div class="block-space">
              <div class="row">
                 <div class="col-lg-3 col-md-4">
                    <ul class="f-link list-unstyled mb-0">
                       <li><a href="#">About Us</a></li>
                       <li><a href="movie-category.html">Movies</a></li>
                       <li><a href="show-category.html">Tv Shows</a></li>
                       <li><a href="#">Coporate Information</a></li>
                    </ul>
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <ul class="f-link list-unstyled mb-0">
                       <li><a href="#">Privacy Policy</a></li>
                       <li><a href="#">Terms & Conditions</a></li>
                       <li><a href="#">Help</a></li>
                    </ul>
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <ul class="f-link list-unstyled mb-0">
                       <li><a href="#">FAQ</a></li>
                       <li><a href="#">Cotact Us</a></li>
                       <li><a href="#">Legal Notice</a></li>
                    </ul>
                 </div>
                 <div class="col-lg-3 col-md-12 r-mt-15">
                    <div class="d-flex">
                       <a href="#" class="s-icon">
                       <i class="ri-facebook-fill"></i>
                       </a>
                       <a href="#" class="s-icon">
                       <i class="ri-skype-fill"></i>
                       </a>
                       <a href="#" class="s-icon">
                       <i class="ri-linkedin-fill"></i>
                       </a>
                       <a href="#" class="s-icon">
                       <i class="ri-whatsapp-fill"></i>
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="copyright py-2">
           <div class="container-fluid">
              <p class="mb-0 text-center font-size-14 text-body">STREAMIT - 2020 All Rights Reserved</p>
           </div>
        </div>
     </footer>
     <!-- MainContent End-->
     <!-- back-to-top -->
     <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
     </div>
     <!-- back-to-top End -->
     <!-- jQuery, Popper JS -->
     <script src="js/jquery-3.4.1.min.js"></script>
     <script src="js/popper.min.js"></script>
     <!-- Bootstrap JS -->
     <script src="js/bootstrap.min.js"></script>
     <!-- Slick JS -->
     <script src="js/slick.min.js"></script>
     <!-- owl carousel Js -->
     <script src="js/owl.carousel.min.js"></script>
     <!-- select2 Js -->
     <script src="js/select2.min.js"></script>
     <!-- Magnific Popup-->
     <script src="js/jquery.magnific-popup.min.js"></script>
     <!-- Slick Animation-->
     <script src="js/slick-animation.min.js"></script>
     <!-- Custom JS-->
     <script src="js/custom.js"></script>

     <script>
      var video = $('#video');
      $(video).on('canplay', function () {
        $(video)
          .mouseenter(function () {
            $(this).get(0).play();
            
          })
          .mouseleave(function () {
            $(this).get(0).pause();
          });
      });
    </script>

  </body>

</html>