
<%- include('./partials/header') %>
<!-- loader END -->
<!-- Header -->

<%- include('./partials/topMenu') %>

 <section class="m-profile">
    <div class="container">
        <h4 class="main-title mb-4">Pricing Plan</h4>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="sign-user_card">
                    <div class="table-responsive pricing pt-2">
                        <table id="my-table" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center prc-wrap"></th>
                                    <th class="text-center prc-wrap">
                                        <div class="prc-box">
                                            <div class="h3 pt-4 text-white">$19<small> / Per month</small></div>
                                            <span class="type">Basic</span>
                                        </div>
                                    </th>
                                    <th class="text-center prc-wrap">
                                        <div class="prc-box active">
                                            <div class="h3 pt-4 text-white">$35<small> / Per month</small></div>
                                            <span class="type">Standard</span>
                                        </div>
                                    </th>
                                    <th class="text-center prc-wrap">
                                        <div class="prc-box">
                                            <div class="h3 pt-4 text-white">$59<small> / Per month</small></div>
                                            <span class="type">Premium</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="text-center" scope="row">Screens</th>
                                    <td class="text-center child-cell">1</td>
                                    <td class="text-center child-cell active">2</td>
                                    <td class="text-center child-cell">4</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ri-close-line i_close"></i></td>
                                    <td class="text-center">
                                        <% if( user.parent == null && ( user.currentPlan.screens.length == 0  ) ){ %> 
                                            <form action="purchasePlan-1" method="POST">
                                                <button type="submit" class="btn btn-hover mt-3">Purchase</button>
                                            </form>
                                        <% }else{ %> 
                                            <% if(user.parent != null && user.currentPlan.planName == "Basic" ){ %> 
                                                <a href="#"  class="btn btn-success mb-3 ">
                                                    Purchased <i class="ri-check-line ri-2x"></i>
                                                </a>
                                            <% }else if(user.currentPlan.planName == "Basic") { %>
                                                <a href="#"  class="btn btn-success mb-3 ">
                                                    Purchased <i class="ri-check-line ri-2x"></i>
                                                </a>
                                            <% } %>
                                        <% } %>
                                        
                                    </td>
                                    <td class="text-center">
                                        <!-- any of the plan is not purchased -->
                                        <% if( user.parent == null && ( user.currentPlan.screens.length == 0  ) ){ %> 
                                        <form action="purchasePlan-2" method="POST">
                                            <button type="submit" class="btn btn-hover mt-3">Purchase</button>
                                        </form>
                                        <% }else{ %> 
                                            <!-- plan is purchased -->
                                            <% if(user.parent != null && user.currentPlan.planName == "Standard"){ %> 
                                                <a href="#"  class="btn btn-success mb-3 ">
                                                    Purchased <i class="ri-check-line ri-2x"></i>
                                                </a>
                                            <% }else if(user.currentPlan.planName == "Standard") { %>
                                                <a href="#"  class="btn btn-success mb-3 ">
                                                    Purchased <i class="ri-check-line ri-2x"></i>
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </td>
                                    <td class="text-center">
                                        <% if( user.parent == null && ( user.currentPlan.screens.length == 0  ) ){ %> 
                                        <form action="purchasePlan-3" method="POST">
                                            <button type="submit" class="btn btn-hover mt-3">Purchase</button>
                                        </form>
                                        <% }else{ %> 
                                            <% if(user.parent != null && user.currentPlan.planName == "Premium"){ %> 
                                                <a href="#"  class="btn btn-success mb-3 ">
                                                    Purchased <i class="ri-check-line ri-2x"></i>
                                                </a>
                                            <% }else if(user.currentPlan.planName == "Premium") { %>
                                                <a href="#"  class="btn btn-success mb-3 ">
                                                    Purchased <i class="ri-check-line ri-2x"></i>
                                                </a>
                                            <% } %>
                                        <% } %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <%- include('./partials/flashMessage') %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('./partials/footer') %>