<!doctype html>
<html lang="en">

<!-- Mirrored from iqonic.design/themes/streamitnew/dashboard/html/theme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Jan 2021 08:37:06 GMT -->
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>OTT - <%= title %> </title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="shortcut icon" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/images/favicon.ico" />

   <!-- Favicon -->
   <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
   <!--datatable CSS -->
   <link rel="stylesheet" href="../assets/css/dataTables.bootstrap4.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="../assets/css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="../assets/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="../assets/css/responsive.css">

   <link rel="shortcut icon" href="images/favicon.ico" />

   <link rel="stylesheet" href="../line/css/line-awesome.min.css">
   <link rel="stylesheet" href="../../../public/line/css/line-awesome.min.css">
</head>


<body>
      <!-- loader Start -->
   
      <div class="wrapper">