
      <!-- Sidebar-->
      <div class="iq-sidebar">
         <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="/admin/index" class="header-logo">
               <div class="logo-title">
                  <span class="text-primary text-uppercase">OTT</span>
               </div>
            </a>
            <div class="iq-menu-bt-sidebar">
               <div class="iq-menu-bt align-self-center">
                  <div class="wrapper-menu">
                     <div class="main-circle"><i class="las la-bars"></i></div>
                  </div>
               </div>
            </div>
         </div>
         <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
               <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li><a href="/myMovies"><i class="las la-home iq-arrow-left"></i>Movie List</a></li>
                     <li><a href="/addMovie"><i class="las la-user-plus"></i>Add Movie</a></li>
                     <li><a href="/requestedMovies"><i class="las la-eye"></i>Requested Movies</a></li>
                  <li><a href="/logout" class="iq-waves-effect"><i class="las la-star-half-alt"></i><span>Logout </span></a></li>
               </ul>
            </nav>
         </div>
      </div>