
      <!-- Sidebar-->
      <div class="iq-sidebar">
        <div class="iq-sidebar-logo d-flex justify-content-between">
           <a href="index-2.html" class="header-logo">
              <img src="../assets/images/logo.png" class="img-fluid rounded-normal" alt="">
              <div class="logo-title">
                 <span class="text-primary text-uppercase">Streamit</span>
              </div>
           </a>
           <div class="iq-menu-bt-sidebar">
              <div class="iq-menu-bt align-self-center">
                 <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                 </div>
              </div>
           </div>
        </div>
        <div id="sidebar-scrollbar">
           <nav class="iq-sidebar-menu">
              <ul id="iq-sidebar-toggle" class="iq-menu">
                 <li><a href="index-2.html" class="text-primary"><i class="ri-arrow-right-line"></i><span>Visit site</span></a></li>
                 <li class="active active-menu"><a href="index-2.html" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Dashboard</span></a></li>
                 <li><a href="rating.html" class="iq-waves-effect"><i class="las la-star-half-alt"></i><span>Rating </span></a></li>
                 <li><a href="comment.html" class="iq-waves-effect"><i class="las la-comments"></i><span>Comment</span></a></li>
                 <li><a href="user.html" class="iq-waves-effect"><i class="las la-user-friends"></i><span>User</span></a></li>
                 <li>
                    <a href="#category" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-list-ul"></i><span>Category</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="category" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="add-category.html"><i class="las la-user-plus"></i>Add Category</a></li>
                       <li><a href="category-list.html"><i class="las la-eye"></i>Category List</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#movie" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-film"></i><span>Movie</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="movie" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="/addMovie"><i class="las la-user-plus"></i>Add Movie</a></li>
                       <li><a href="/myMovies"><i class="las la-eye"></i>Movie List</a></li>
                       <li><a href="/requestedMovies"><i class="las la-eye"></i>Requested Movies</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#show" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                       class="las la-film"></i><span>Show</span><i
                       class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
                    <ul id="show" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="add-show.html"><i class="las la-user-plus"></i>Add Show</a></li>
                       <li><a href="show-list.html"><i class="las la-eye"></i>Show List</a></li>
                    </ul>
                 </li>
                 <li><a href="pages-pricing.html" class="iq-waves-effect"><i class="ri-price-tag-line"></i><span>Pricing</span></a></li>
                 <li>
                    <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-elementor iq-arrow-left"></i><span>UI Elements</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li class="elements">
                          <a href="#sub-menu" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-play-circle-line"></i><span>UI Kit</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="sub-menu" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="ui-colors.html"><i class="las la-palette"></i>colors</a></li>
                             <li><a href="ui-typography.html"><i class="las la-keyboard"></i>Typography</a></li>
                             <li><a href="ui-alerts.html"><i class="las la-tag"></i>Alerts</a></li>
                             <li><a href="ui-badges.html"><i class="lab la-atlassian"></i>Badges</a></li>
                             <li><a href="ui-breadcrumb.html"><i class="las la-bars"></i>Breadcrumb</a></li>
                             <li><a href="ui-buttons.html"><i class="las la-tablet"></i>Buttons</a></li>
                             <li><a href="ui-cards.html"><i class="las la-credit-card"></i>Cards</a></li>
                             <li><a href="ui-carousel.html"><i class="las la-film"></i>Carousel</a></li>
                             <li><a href="ui-embed-video.html"><i class="las la-video"></i>Video</a></li>
                             <li><a href="ui-grid.html"><i class="las la-border-all"></i>Grid</a></li>
                             <li><a href="ui-images.html"><i class="las la-images"></i>Images</a></li>
                             <li><a href="ui-list-group.html"><i class="las la-list"></i>list Group</a></li>
                             <li><a href="ui-media-object.html"><i class="las la-ad"></i>Media</a></li>
                             <li><a href="ui-modal.html"><i class="las la-columns"></i>Modal</a></li>
                             <li><a href="ui-notifications.html"><i class="las la-bell"></i>Notifications</a></li>
                             <li><a href="ui-pagination.html"><i class="las la-ellipsis-h"></i>Pagination</a></li>
                             <li><a href="ui-popovers.html"><i class="las la-eraser"></i>Popovers</a></li>
                             <li><a href="ui-progressbars.html"><i class="las la-hdd"></i>Progressbars</a></li>
                             <li><a href="ui-tabs.html"><i class="las la-database"></i>Tabs</a></li>
                             <li><a href="ui-tooltips.html"><i class="las la-magnet"></i>Tooltips</a></li>
                          </ul>
                       </li>
                       <li class="form">
                          <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-wpforms"></i><span>Forms</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="forms" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="form-layout.html"><i class="las la-book"></i>Form Elements</a></li>
                             <li><a href="form-validation.html"><i class="las la-edit"></i>Form Validation</a></li>
                             <li><a href="form-switch.html"><i class="las la-toggle-off"></i>Form Switch</a></li>
                             <li><a href="form-chechbox.html"><i class="las la-check-square"></i>Form Checkbox</a></li>
                             <li><a href="form-radio.html"><i class="ri-radio-button-line"></i>Form Radio</a></li>
                          </ul>
                       </li>
                       <li>
                          <a href="#wizard-form" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-archive-drawer-line"></i><span>Forms Wizard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="wizard-form" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="form-wizard.html"><i class="ri-clockwise-line"></i>Simple Wizard</a></li>
                             <li><a href="form-wizard-validate.html"><i class="ri-clockwise-2-line"></i>Validate Wizard</a></li>
                             <li><a href="form-wizard-vertical.html"><i class="ri-anticlockwise-line"></i>Vertical Wizard</a></li>
                          </ul>
                       </li>
                       <li>
                          <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-table-line"></i><span>Table</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="tables" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="tables-basic.html"><i class="ri-table-line"></i>Basic Tables</a></li>
                             <li><a href="data-table.html"><i class="ri-database-line"></i>Data Table</a></li>
                             <li><a href="table-editable.html"><i class="ri-refund-line"></i>Editable Table</a></li>
                          </ul>
                       </li>
                       <li>
                          <a href="#icons" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-list-check"></i><span>Icons</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                          <ul id="icons" class="iq-submenu collapse" data-parent="#ui-elements">
                             <li><a href="icon-dripicons.html"><i class="ri-stack-line"></i>Dripicons</a></li>
                             <li><a href="icon-fontawesome-5.html"><i class="ri-facebook-fill"></i>Font Awesome 5</a></li>
                             <li><a href="icon-lineawesome.html"><i class="ri-keynote-line"></i>line Awesome</a></li>
                             <li><a href="icon-remixicon.html"><i class="ri-remixicon-line"></i>Remixicon</a></li>
                             <li><a href="icon-unicons.html"><i class="ri-underline"></i>unicons</a></li>
                          </ul>
                       </li>
                    </ul>
                 </li>
                 <li><a href="/logout" class="iq-waves-effect"><i class="las la-star-half-alt"></i><span>Logout </span></a></li>
              </ul>
           </nav>
        </div>
     </div>